[user]
	name = violaou
	email = viola.o@roserocket.com
[alias]
	last = log -1 HEAD --stat
	cleanup-merged = "git fetch && git branch --merged | grep -v '* ' | xargs git branch --delete; };f"
[help]
	autocorrect = 20
[core]
	editor = code --wait
	ignorecase = false
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[log]
	date = iso-local
